@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-light: 255 255 255;
    --bg-dark: 10 10 10;
    --text-light: 0 0 0;
    --text-dark: 237 237 237;
  }
}

@layer utilities {
  .theme-light {
    --bg: var(--bg-light);
    --text: var(--text-light);
  }
  
  .theme-dark {
    --bg: var(--bg-dark);
    --text: var(--text-dark);
  }
}

body {
  @apply bg-bg-light text-text-light dark:bg-bg-dark dark:text-text-dark;
}
